@model DSLNG.PEAR.Web.ViewModels.Artifact.ArtifactDesignerViewModel

<div class="form-group">
    @Html.LabelFor(model => model.TrafficLightChart.Series.Label, new { @class = "col-sm-4 control-label"})
    <div class="col-sm-8">
      @Html.TextBoxFor(model => model.TrafficLightChart.Series.Label,new { @class = "form-control" })
      @Html.ValidationMessageFor(model => model.TrafficLightChart.Series.Label)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TrafficLightChart.Series.KpiId, new { @class = "col-sm-4 control-label"})
    <div class="col-sm-8">
      @Html.DropDownListFor(model => model.TrafficLightChart.Series.KpiId, new List<SelectListItem>(), new { @class = "kpi-list form-control", style = "width:180px" })
      @Html.ValidationMessageFor(model => model.TrafficLightChart.Series.KpiId)
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">&nbsp;</label>
    <div class="col-sm-8">
      <input type="button" value="Add Plot Bands" class="button button-action button-tny" id="add-plot" />
    </div>
</div>
@*<div id="plot-bands-holder">
</div>*@
<div id="hidden-fields">
    @for (var i = 0; i < Model.TrafficLightChart.PlotBands.Count; i++)
    {
        <div class="plot-band-template original whitebox">
            <h2>Plot Bands</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.TrafficLightChart.PlotBands[i].From)
                        @Html.TextBoxFor(model => model.TrafficLightChart.PlotBands[i].From, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TrafficLightChart.PlotBands[i].From)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.TrafficLightChart.PlotBands[i].To)
                        @Html.TextBoxFor(model => model.TrafficLightChart.PlotBands[i].To,new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TrafficLightChart.PlotBands[i].To)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.TrafficLightChart.PlotBands[i].Color)
                        <div class="input-group colorpicker">
                            @Html.TextBoxFor(model => model.TrafficLightChart.PlotBands[i].Color, new { @class = "form-control" })
                            <span class="input-group-addon"><i></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.TrafficLightChart.PlotBands[i].Color)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.TrafficLightChart.PlotBands[i].Label)
                        @Html.TextBoxFor(model => model.TrafficLightChart.PlotBands[i].Label,new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TrafficLightChart.PlotBands[i].Label)
                    </div>
                </div>
            </div>
            <input type="button" value="Remove" class="remove" />
        </div>
    }
</div>
