@model DSLNG.PEAR.Web.ViewModels.Artifact.ArtifactDesignerViewModel

<div class="form-group">
    <label class="col-sm-4 control-label">&nbsp;</label>
    <div class="col-sm-8">
      <input type="button" value="Add Charts" class="button button-action button-tny" id="add-chart" />
    </div>
</div>

<div id="hidden-fields">
    @for (var i = 0; i < Model.MultiaxisChart.Charts.Count; i++)
    {
        <div class="chart-template original whitebox">
            <h2>Charts</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.MultiaxisChart.Charts[i].ValueAxis)
                        @Html.DropDownListFor(model => model.MultiaxisChart.Charts[i].ValueAxis, Model.MultiaxisChart.ValueAxes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MultiaxisChart.Charts[i].ValueAxis)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.MultiaxisChart.Charts[i].GraphicType)
                        @Html.DropDownListFor(model => model.MultiaxisChart.Charts[i].ValueAxis, Model.MultiaxisChart.GraphicTypes, new { @class = "form-control multiaxis-chart-type" })
                        @Html.ValidationMessageFor(model => model.MultiaxisChart.Charts[i].GraphicType)
                    </div>
                </div>
                <div id="chart-settings">
                </div>
            </div>
            <input type="button" value="Remove" class="remove" />
        </div>
    }
</div>
