@model DSLNG.PEAR.Web.ViewModels.Artifact.ArtifactDesignerViewModel
<div class="form-group form-list">
    @Html.LabelFor(model => model.SpeedometerChart.Series.Label)
    @Html.TextBoxFor(model => model.SpeedometerChart.Series.Label,new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.SpeedometerChart.Series.Label)
</div>

<div class="form-group form-list">
    @Html.LabelFor(model => model.SpeedometerChart.Series.KpiId)
    @Html.DropDownListFor(model => model.SpeedometerChart.Series.KpiId, new List<SelectListItem>(), new { @class = "kpi-list form-control", style = "width:180px" })
    @Html.ValidationMessageFor(model => model.SpeedometerChart.Series.KpiId)
</div>

<div class="form-group form-list">
    <label>&nbsp;</label>
    <input type="button" value="Add Plot Bands" class="btn btn-lightblue" id="add-plot" />
</div>
@*<div id="plot-bands-holder">
</div>*@
<div id="hidden-fields">
    @for (var i = 0; i < Model.SpeedometerChart.PlotBands.Count; i++)
    {
        <div class="plot-band-template original whitebox">
            <h2>Plot Bands</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.SpeedometerChart.PlotBands[i].From)
                        @Html.TextBoxFor(model => model.SpeedometerChart.PlotBands[i].From, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SpeedometerChart.PlotBands[i].From)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.SpeedometerChart.PlotBands[i].To)
                        @Html.TextBoxFor(model => model.SpeedometerChart.PlotBands[i].To,new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SpeedometerChart.PlotBands[i].To)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.SpeedometerChart.PlotBands[i].Color)
                        <div class="input-group colorpicker">
                            @Html.TextBoxFor(model => model.SpeedometerChart.PlotBands[i].Color, new { @class = "form-control" })
                            <span class="input-group-addon"><i></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.SpeedometerChart.PlotBands[i].Color)
                    </div>
                </div>
            </div>
            <input type="button" value="Remove" class="remove" />
        </div>
    }
</div>
