@using System.Linq;
@model DSLNG.PEAR.Web.ViewModels.PmsConfigDetails.UpdatePmsConfigDetailsViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Update PMS Config Detail</h4>
</div>

<form action="@Url.Action("Update")" method="POST">
    <div class="modal-body">
        @Html.HiddenFor(x => x.Id)
        <div class="form-group form-list">
            <label>Pillar : </label> @Model.PillarName
        </div>

        @*<div class="form-group form-list">
            <label>KPI Name : </label> @Model.KpiName
        </div>*@

        <div class="form-group form-list">
            <label>KPI</label>
            @Html.DropDownListFor(x => x.KpiId, Model.Kpis, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.KpiId)
        </div>
        <div class="form-group form-list">
            <label>Scoring Type</label>
            @Html.DropDownListFor(x => x.ScoringType, Model.ScoringTypes, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ScoringType)
        </div>

        <div class="form-group form-list">
            <label>Weight</label>
            @Html.TextBoxFor(x => x.Weight, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Weight)
        </div>

        @Html.Partial("_ScoringIndicator", Model.ScoreIndicators)
    </div>

    <div class="modal-footer">
        <button href="#" onclick="$(this).closest('form').submit()" class="button button-action"><span class="fa fa-floppy-o"></span>Save</button>
        <button href="javascript:;" data-dismiss="modal" aria-label="Close" class="button"><span class="fa fa-times"></span>Cancel</button>
    </div>
</form>
