@model DSLNG.PEAR.Web.ViewModels.KpiAchievement.UpdateKpiAchievementsViewModel
@{
    @Html.HiddenFor(x => x.PeriodeType)
    @Html.HiddenFor(x => x.PmsSummaryId)
    int a = 0;
    foreach (var pillar in Model.Pillars)
    {
        <div class="container-box">
            <h4 class="page-title">@pillar.Name</h4>
            <div class="kpi-message"></div>
            <hr class="just-margin-bottom">
            <table class="no-border table-regawa table-kpi-target">
                <thead>
                    <tr>
                        <th style="width: 250px;"></th>
                        <th style="width: 100px;"></th>
                        @*<th style="width: 200px;"></th>*@
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int b = 0;}
                    @foreach (var kpi in pillar.Kpis)
                    {
                        @Html.HiddenFor(x => Model.Pillars[a].Kpis[b].Id, new { @class = "form-control" })
                        <tr>
                            <td>@kpi.Name</td>
                            <td>@kpi.Measurement</td>
                            @*<td>
                                <input type="text" class="form-control" placeholder="Remark"></td>*@
                            @{ int c = 0;}
                            @foreach (var kpiTarget in kpi.KpiAchievements)
                            {
                                var remarkSign = "";
                                if (!string.IsNullOrEmpty(Model.Pillars[a].Kpis[b].KpiAchievements[c].Remark))
                                {
                                    remarkSign = "remark_sign";
                                }
                                <td>
                                    <input type="hidden" name="KpiId" class="kpiId" value="@kpi.Id" />
                                    <input type="hidden" name="HeaderPopover" class="header-popover" value="" />
                                    <input type="hidden" name="PeriodeType" class="periodeType" value="@DSLNG.PEAR.Data.Enums.PeriodeType.Yearly" />
                                    @Html.HiddenFor(x => Model.Pillars[a].Kpis[b].KpiAchievements[c].Id, new { @class = "id" })
                                    @Html.HiddenFor(x => Model.Pillars[a].Kpis[b].KpiAchievements[c].Periode, new { @class = "periode" })
                                    @Html.HiddenFor(x => Model.Pillars[a].Kpis[b].KpiAchievements[c].Remark, new { @class = "remark" })
                                    @Html.TextBoxFor(x => Model.Pillars[a].Kpis[b].KpiAchievements[c].Value, new { @class = "form-control kpi-popover value " + remarkSign, @readonly = "readonly" })
                                </td>
                                c++;
                                @*<td>
                                    <input type="text" class="form-control-small" name=""></td>    *@
                            }

                        </tr>
                            b++;
                    }

                </tbody>
            </table>

        </div>
                    a++;
    }
}