@model DSLNG.PEAR.Web.ViewModels.KpiAchievement.ConfigurationKpiAchievementsViewModel
@{
    ViewBag.Title = "Configuration";
}

<div class="notification"></div>

<section>

    <hgroup class="page-hgroup-header">
        <h3 class="page-title text-inline">KPI Achievement</h3>
        <img class="ajax-loader2" src="@Url.Content("~/content/img/ajax-loader1.gif")" style="display: none;width: 30px;height: 30px;"></img>
        <div class="description-year"></div>
        <div class="breadcrumbs-regawa">
            <ul>
                <li>Execute</li>
                <li>KPI Achievement</li>
                <li>Manage</li>
            </ul>
        </div>
    </hgroup>

    <ul class="nav nav-pills">
        <li role="presentation" @(Model.PeriodeType == DSLNG.PEAR.Data.Enums.PeriodeType.Yearly.ToString() ? Html.Raw("class=active") : Html.Raw("")) >
            <a href="#yearly" aria-controls="home" role="tab" data-toggle="tab" data-periodetype="Yearly">
                Yearly
            </a>
        </li>
        <li role="presentation" @(Model.PeriodeType == DSLNG.PEAR.Data.Enums.PeriodeType.Monthly.ToString() ? Html.Raw("class=active") : Html.Raw(""))>
            <a href="#monthly" aria-controls="home" role="tab" data-toggle="tab" data-periodetype="Monthly">
                Monthly
            </a>
        </li>
        <li role="presentation" @(Model.PeriodeType == DSLNG.PEAR.Data.Enums.PeriodeType.Daily.ToString() ? Html.Raw("class=active") : Html.Raw(""))>
            <a href="#daily" aria-controls="home" role="tab" data-toggle="tab" data-periodetype="Daily">
                Daily
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active config-content">
            @Html.Partial("Configuration/_" + Model.PeriodeType, Model)
        </div>
    </div>
</section>
<div class="popover-content" style="display: none">
    <div class="form-group">
        <label class="">Value</label>
        <input type="text" name="Value" class="form-control" />
    </div>
    <div class="form-group">
        <label class="">Remark</label>
        <textarea name="Remark" class="form-control"></textarea>
    </div>
    <input type="hidden" name="Id" />
    <input type="hidden" name="KpiId" />
    <input type="hidden" name="Periode" />
    <input type="hidden" name="PeriodeType" />
    <button type="button" class="button button-action button-tny submit-popover">Ok</button>
    <button type="button" class="button button-tny cancel-popover">Cancel</button>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var _periodeType = '@Model.PeriodeType';
            $('[data-toggle=tab]').click(function () {
                var that = $(this);
                var periodeType = that.attr('data-periodeType');
                var data = {};
                data.id = '@Model.RoleGroupId';
                data.periodeType = periodeType;
                _periodeType = periodeType;
                if (periodeType === 'Monthly') {
                    data.year = '@DateTime.Now.Year';
                }
                else if (periodeType === 'Daily') {
                    data.year = '@DateTime.Now.Year';
                    data.month = '@DateTime.Now.Month';
                }
                $.ajax({
                    url: '@Url.Action("ConfigurationPartial")',
                    type: 'GET',
                    data: data,
                    beforeSend: function () {
                        $('.ajax-loader2').show();
                        $('.config-content').hide();
                    }
                })
                .done(function (result) {
                    $('.ajax-loader2').hide();
                    $('.config-content').html(result);
                    $('.config-content').show();
                });

            });

            $('body').popover({
                selector: '.kpi-popover',
                html: true,
                title: function () {
                    return $(this).parent().find('.header-popover').val();
                },
                content: function () {
                    return $('.popover-content').html();
                }
            });

            var popOverElem;
            $(document).on('click', '.kpi-popover', function () {
                if (popOverElem !== undefined && $(this).attr('id') !== popOverElem.attr('id')) {
                    popOverElem.popover('hide');
                }
                var value = $(this).parent().find('.value').val();
                var remark = $(this).parent().find('.remark').val();
                var id = $(this).parent().find('.id').val();
                var kpiId = $(this).parent().find('.kpiId').val();
                var periode = $(this).parent().find('.periode').val();
                var periodeType = $(this).parent().find('.periodeType').val();
                $('.popover').find('input[name="Value"]').attr('value', value);
                $('.popover').find('textarea').val(remark);
                $('.popover').find('input[name="Id"]').attr('value', id);
                $('.popover').find('input[name="KpiId"]').attr('value', kpiId);
                $('.popover').find('input[name="Periode"]').attr('value', periode);
                $('.popover').find('input[name="PeriodeType"]').attr('value', periodeType);
                popOverElem = $(this);
            });

            $(document).on('click', '.submit-popover', function () {
                var that = $(this);
                var value = $(this).parent().find('input[name="Value"]').val();
                var remark = $(this).parent().find('textarea').val();
                var kpiTarget = $('.popover').parent();

                $(kpiTarget).find('.value').attr('value', value);
                $(kpiTarget).find('.remark').attr('value', remark);
                var formData = {
                    'id': $(this).parent().find('input[name=Id]').val(),
                    'kpiId': $(this).parent().find('input[name=KpiId]').val(),
                    'value': $(this).parent().find('input[name=Value]').val(),
                    'remark': $(this).parent().find('textarea').val(),
                    'periode': $(this).parent().find('input[name=Periode]').val(),
                    'periodeType': $(this).parent().find('input[name=PeriodeType]').val()
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("KpiAchievementItem")',
                    data: formData,
                    success: function (data) {
                        $('.popover').parent().find('.id').attr('value', data.Id);
                        if (remark.length > 0) {
                            $('.popover').parent().find('.value').addClass('remark_sign');
                        }

                        $('.notification').empty();
                        var alertType = data.isSuccess === true ? 'alert-success' : 'alert-danger';
                        var message = '<div class="alert ' + alertType + '" role="alert">' + data.Message + '</div>';
                        $('.notification').append(message).fadeIn().delay(1000).fadeOut();
                        $('.popover').popover('hide');
                    },
                });
            });

            $(document).on('click', '.cancel-popover', function () {
                $('.popover').popover('hide');
            });

            $(document).on('change', '.ddl-year, .ddl-month', function () {
                var year = $('.ddl-year').val();
                var month = $('.ddl-month').val();
                var url;
                if (month !== undefined) {
                    url = '@Html.Raw( Url.Action("Configuration", "KpiAchievement", new {year = "_year_", month = "_month_", periodeType= "_periodeType_"}) )'.replace('_year_', year).replace('_month_', month).replace("_periodeType_", _periodeType);
                } else {
                    url = '@Html.Raw( Url.Action("Configuration", "KpiAchievement", new {year = "_year_", periodeType= "_periodeType_"}) )'.replace('_year_', year).replace("_periodeType_", _periodeType);
                }

                window.location = url;
            });
        });
    </script>
}
