@model DSLNG.PEAR.Web.ViewModels.KpiAchievement.ConfigurationKpiAchievementsViewModel
@{
    ViewBag.Title = "Configuration";
}

<h2>Configuration</h2>

<section>
    <div class="row">
        <div class="title_page" style="border: none!important;">
            <div class="title" style="margin-right: 25px;">KPI Achievement</div>
            <img class="ajax-loader2" src="@Url.Content("~/content/img/ajax-loader1.gif")" style="display: none;width: 30px;height: 30px;"></img>
            <div class="description_year"></div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#yearly" aria-controls="home" role="tab" data-toggle="tab" data-periodetype="Yearly">
                <div>Yearly</div>
            </a>
        </li>
        <li role="presentation">
            <a href="#monthly" aria-controls="home" role="tab" data-toggle="tab" data-periodetype="Monthly">
                <div>Monthly</div>
            </a>
        </li>
        <li role="presentation">
            <a href="#daily" aria-controls="home" role="tab" data-toggle="tab" data-periodetype="daily">
                <div>Daily</div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Yearly">
            @Html.Partial("Configuration/_Yearly", Model)
        </div>
        <div role="tabpanel" class="tab-pane" id="Monthly">
            monthly
        </div>
        <div role="tabpanel" class="tab-pane" id="daily">
            daily
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle=tab]').click(function() {
                var that = $(this);
                var periodeType = that.attr('data-periodeType');
                var data = {};
                data.id = '@Model.RoleGroupId';
                data.periodeType = periodeType;
                if (periodeType === 'Monthly') {
                    data.year = 2015;
                }
                $.ajax({
                    url: '@Url.Action("ConfigurationPartial")',
                    type: 'GET',
                    data: data,
                    beforeSend: function() {
                        $('.ajax-loader2').show();
                        //$('.content-wrapper').hide();
                    }
                })
                .done(function (result) {
                    $('.ajax-loader2').hide();
                    $('#' + periodeType).html(result);
                    //$('.content-wrapper').show();
                });
                                @*var val = $(this).val();
                $.ajax({
                    url: '@Url.Action("UpdatePartial")',
                    type: 'GET',
                    data: { id: '@Model.PmsSummaryId', periodeType: val },
                beforeSend: function () {
                    $('.ajax-loader2').show();
                    $('.content-wrapper').hide();
                }
                })
                .done(function (data) {
                    $('.ajax-loader2').hide();
                    $('.update-content').html(data);
                    $('.content-wrapper').show();
                });*@
            });
        });

    </script>
}
