@model DSLNG.PEAR.Web.ViewModels.KpiAchievement.IndexKpiAchievementViewModel
@{
    
}

<section>

    <hgroup class="page-hgroup-header">
        <h3 class="page-title">KPI Achievement</h3>
        <div class="breadcrumbs-regawa">
            <ul>
                <li>Execute</li>
                <li>KPI Achievement</li>
            </ul>
        </div>
    </hgroup>

        <table class="table-regawa">
            <thead>
                <tr>
                    <th>No</th>
                    <th>KPI Name</th>
                    <th>Measurement</th>
                    <th>Type</th>
                    <th style="width: 13%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @{ int number = 0;}
                @foreach (var roleGroup in Model.RoleGroups)
                {
                    <tr>
                        <td colspan="4"><h5 class="table-regawa-kpi-heading">@roleGroup.Name</h5></td>
                        <td>
                            <a class="text-button" href="@Url.Action("Configuration", "KpiAchievement", new {id = roleGroup.Id})"><span class="fa fa-pencil-square-o"></span>Manage</a>
                        </td>
                    </tr>

                    foreach (var kpi in roleGroup.Kpis)
                    {
                        <tr>

                            <td>@(++number)</td>
                            <td>@kpi.Name</td>
                            <td>@kpi.Measurement</td>

                            <td>@kpi.Type</td>
                            <td class="text-button" style="margin: auto;"></td>

                        </tr>        
                    }
                }
            </tbody>
        </table>


</section>
