@model DSLNG.PEAR.Web.ViewModels.KpiTarget.ConfigurationKpiTargetsViewModel
@{
    int length = DateTime.DaysInMonth(Model.Year, Model.Month);
}


    <form class="form-inline form-kpi-daily">
        <div class="form-group">
            <label class="labletop">Year : </label>
            @Html.DropDownListFor(x => x.Year, Model.Years, new { @class = "form-control ddl-year" })
        </div>
        <div class="form-group">
            <label class="labletop">Month : </label>

            @Html.DropDownListFor(x => x.Month, Model.Months, new { @class = "form-control ddl-month" })
        </div>
    </form>

    <table class="table-regawa table-regawa-kpi">
        <thead>
            <tr>
                <th style="width: 30%;">KPI Name</th>
                <th style="width: 10%;">Measurement</th>
                @for (int i = 1; i <= length; i++)
                {
                    <th style="width: 25px;">@i</th>    
                }
            </tr>
        </thead>
        <tbody>
            @{ var a = 0;}

            @foreach (var kpi in Model.Kpis)
            {
                <tr>
                    <td>@kpi.Name</td>
                    <td>@kpi.Measurement</td>
                    @{ var b = 0;}
                    @foreach (var kpiTarget in kpi.KpiTargets)
                    {
                        var remarkSign = "";
                        if (!string.IsNullOrEmpty(kpiTarget.Remark))
                        {
                            remarkSign = "remark_sign";
                        }
                        var idValue = "Kpis_" + a + "__KpiTargets_" + b + "__Value";
                        <th>
                            <input type="hidden" name="KpiId" class="kpiId" value="@kpi.Id" />
                            <input type="hidden" name="HeaderPopover" class="header-popover" value="" />
                            <input type="hidden" name="PeriodeType" class="periodeType" value="@DSLNG.PEAR.Data.Enums.PeriodeType.Daily" />
                            <input type="text" class="form-control-small value kpi-popover @remarkSign" id="@idValue" value="@kpiTarget.Value" readonly="readonly">
                            <input type="hidden" class="form-control-small id" value="@kpiTarget.Id">
                            <input type="hidden" class="form-control-small remark" value="@kpiTarget.Remark">
                            <input type="hidden" class="form-control-small periode" value="@kpiTarget.Periode">
                        </th>
                        b++;
                    }
                </tr>
                a++;
            }

        </tbody>
    </table>
