@model DSLNG.PEAR.Web.ViewModels.KpiTarget.ConfigurationKpiTargetsViewModel

<div role="tabpanel" class="tab-pane active" id="monthly">

    <div style="overflow: auto">
        <div class="form-inline form-kpi-monthly">
            <div class="form-group">
                <label class="labletop">Year : </label>
                @Html.DropDownListFor(x => x.Year, Model.Years, new { @class = "form-control ddl-year" })
            </div>
        </div>
        <table class="table-regawa table-regawa-kpi">
            <thead>
                <tr>
                    <th style="width: 30%;">KPI Name</th>
                    <th>Measurement</th>
                    <th style="width: 50px;">Jan</th>
                    <th style="width: 50px;">Feb</th>
                    <th style="width: 50px;">Mar</th>
                    <th style="width: 50px;">Apr</th>
                    <th style="width: 50px;">May</th>
                    <th style="width: 50px;">Jun</th>
                    <th style="width: 50px;">Jul</th>
                    <th style="width: 50px;">Aug</th>
                    <th style="width: 50px;">Sep</th>
                    <th style="width: 50px;">Oct</th>
                    <th style="width: 50px;">Nov</th>
                    <th style="width: 50px;">Dec</th>
                </tr>
            </thead>
            <tbody>
                @{ var a = 0;}
                @foreach (var kpi in Model.Kpis)
                {
                    <tr>
                        <td>@kpi.Name</td>
                        <td>@kpi.Measurement</td>
                        @{ var b = 0;}
                        @foreach (var kpiTarget in kpi.KpiTargets)
                        {
                            var remarkSign = "";
                            if (!string.IsNullOrEmpty(kpiTarget.Remark))
                            {
                                remarkSign = "remark_sign";
                            }
                            var idValue = "Kpis_" + a + "__KpiTargets_" + b + "__Value";
                            <th>
                                <input type="hidden" name="KpiId" class="kpiId" value="@kpi.Id" />
                                <input type="hidden" name="HeaderPopover" class="header-popover" value="" />
                                <input type="hidden" name="PeriodeType" class="periodeType" value="@DSLNG.PEAR.Data.Enums.PeriodeType.Monthly" />
                                <input type="text" class="form-control-small value kpi-popover @remarkSign" id="@idValue" value="@kpiTarget.Value" readonly="readonly">
                                <input type="hidden" class="form-control-small id" value="@kpiTarget.Id">
                                <input type="hidden" class="form-control-small remark" value="@kpiTarget.Remark">
                                <input type="hidden" class="form-control-small periode" value="@kpiTarget.Periode">
                            </th>
                            b++;
                        }

                    </tr>
                    a++;
                }
            </tbody>
        </table>
    </div>


</div>
