@model DSLNG.PEAR.Web.ViewModels.KpiAchievement.ConfigurationKpiAchievementsViewModel
@{
    int length = DateTime.DaysInMonth(Model.Year, Model.Month);
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#div-proceed').hide();
        $('#btn-proceed').click(function () {
            //window.location = '@Url.Action("ProceedFile", "KpiAchievement")' + '?filename=' + encodeURIComponent(link);
            var formData = {
                'filename': encodeURIComponent(link)
            };
            
            $.ajax({
                url: '@Url.Action("ProceedFile", "KpiAchievement")',
                type: 'POST',
                data: formData,
                beforeSend: function () {
                    $('.ajax-loader2').show();
                    $('.notification').empty();
                    $('.notification').hide();
                }
            }).done(function (result) {
                    $('.ajax-loader2').hide();
                    var alertType = result.isSuccess === true ? 'alert-success' : 'alert-danger';
                    if (result.isSuccess === true || result.message === null) {
                        $('.notification').html('<div class="alert ' + alertType + '" role="alert">File Successfully Parsed : ' + link + ' </div>').fadeIn().delay(10000).fadeOut();
                        $(".nav-tabs .active").find('a').click();
                    } else {
                        $('.notification').html('<div class="alert ' + alertType + '" role="alert">' + result.Message + '</div>').fadeIn().delay(10000).fadeOut();
                    }

                    $('.notification').show();
                });
        });
    });
    var link = null;
    function OnClick(s, e) {
        uc.Upload();
    }
    function OnUploadTextChanged(s, e) {
        uc.Upload();
    }
    function OnFileUploadComplete(s, e) {
        if (e.callbackData !== "") {
            link = e.callbackData;
            var callback = 'FileUploadComplete: ' + e.callbackData;
            $('.notification').empty();
            var message = '<div class="alert alert-success" role="alert">' + callback + '</div>';
            $('.notification').append(message).fadeIn().delay(10000).fadeOut();
            //alert('FileUploadComplete: ' + e.callbackData);
            $('#div-proceed').show();
            //proceed(e.callbackData);
        }
        else {
            $('.notification').empty();
            var callback = 'The selected file was not uploaded.'
            var message = '<div class="alert alert-danger" role="alert">' + callback + '</div>';
            $('.notification').append(message).fadeIn().delay(10000).fadeOut();
        }
    }
    function proceed(s) {
        alert(s);
        //$('#proceed').html('<a href="' + s + '">Process</a>');
        //$('#proceed').show();


    }

</script>
<div class="notification"></div>
<div style="overflow: auto">
    <form class="form-inline" style="float: left">
        <div class="form-group" style="padding-right: 30px; border-right: solid 1px #3f454f;">
            <label class="labletop">Year :</label>
            @Html.DropDownListFor(x => x.Year, Model.Years, new { @class = "form-control ddl-year" })
        </div>
        <div class="form-group" style="padding-right: 30px; border-right: solid 1px #3f454f;">
            <label class="labletop">Month :</label>
            @Html.DropDownListFor(x => x.Month, Model.Months, new { @class = "form-control ddl-month" })
        </div>
        <div class="form-group">
            @Html.ActionLink("Download Template", "DownloadTemplate", new { filename = @Model.FileName }, new { @class = "btn btn-primary" })
        </div>
        <div class="form-group" id="div-proceed">
            <input id="btn-proceed" class="btn btn-primary" value="Proceed" />
        </div>
    </form>

    @using (Html.BeginForm("UploadControlCallbackAction", "KpiAchievement", FormMethod.Post, new { @class = "form-inline" }))
    {
        Html.RenderPartial("UploadControlPartial");

    }
    @*<div id="proceed">Process</div>*@
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th style="width: 40%;">KPI Name</th>
                @*<th style="width: 10%;">Measurement</th>*@
                @for (int i = 1; i <= length; i++)
                {
                    <th style="width: 25px;">@i</th>
                }
            </tr>
        </thead>
        <tbody>
            @{ var a = 0;}

            @foreach (var kpi in Model.Kpis)
            {
                <tr>
                    <td>@kpi.Name (@kpi.Measurement)</td>
                    @*<td>@kpi.Measurement</td>*@
                    @{ var b = 0;}
                    @foreach (var kpiAchievement in kpi.KpiAchievements)
                    {
                        var remarkSign = "";
                        if (!string.IsNullOrEmpty(kpiAchievement.Remark))
                        {
                            remarkSign = "remark_sign";
                        }
                        var idValue = "Kpis_" + a + "__KpiAchievements_" + b + "__Value";
                        <th>
                            <input type="hidden" name="KpiId" class="kpiId" value="@kpi.Id" />
                            <input type="hidden" name="HeaderPopover" class="header-popover" value="" />
                            <input type="hidden" name="PeriodeType" class="periodeType" value="@DSLNG.PEAR.Data.Enums.PeriodeType.Daily" />
                            <input type="text" class="form-control-small value kpi-popover @remarkSign" id="@idValue" value="@kpiAchievement.Value" readonly="readonly">
                            <input type="hidden" class="form-control-small id" value="@kpiAchievement.Id">
                            <input type="hidden" class="form-control-small remark" value="@kpiAchievement.Remark">
                            <input type="hidden" class="form-control-small periode" value="@kpiAchievement.Periode">
                        </th>
                        b++;
                    }
                </tr>
                    a++;
            }

        </tbody>
    </table>



</div>
