@model DSLNG.PEAR.Web.ViewModels.KpiAchievement.ConfigurationKpiAchievementsViewModel


    <table class="table-regawa table-regawa-kpi">
        <thead>
            <tr>
                <th style="width: 30%;">KPI Name</th>
                <th>Measurement</th>
                <th style="width: 50px;">2015</th>
                <th style="width: 50px;">2016</th>
                <th style="width: 50px;">2017</th>
                <th style="width: 50px;">2018</th>
                <th style="width: 50px;">2019</th>
                <th style="width: 50px;">2020</th>
                <th style="width: 50px;">2021</th>
                <th style="width: 50px;">2022</th>
                <th style="width: 50px;">2023</th>
                <th style="width: 50px;">2024</th>
                <th style="width: 50px;">2025</th>
                <th style="width: 50px;">2026</th>
                <th style="width: 50px;">2027</th>
                <th style="width: 50px;">2028</th>
                <th style="width: 50px;">2029</th>
                <th style="width: 50px;">2030</th>
            </tr>
        </thead>
        <tbody>
            @{ var a = 0;}
            @foreach (var kpi in Model.Kpis)
            {
                <tr>
                    <td>@kpi.Name</td>
                    <td>@kpi.Measurement</td>
                    @{ var b = 0;}
                    @foreach (var kpiAchievement in kpi.KpiAchievements)
                    {
                        var remarkSign = "";
                        if (!string.IsNullOrEmpty(kpiAchievement.Remark))
                        {
                            remarkSign = "remark_sign";
                        }
                        var idValue = "Kpis_" + a + "__KpiAchievements_" + b + "__Value";
                        <th>
                            <input type="hidden" name="KpiId" class="kpiId" value="@kpi.Id" />
                            <input type="hidden" name="HeaderPopover" class="header-popover" value="" />
                            <input type="hidden" name="PeriodeType" class="periodeType" value="@DSLNG.PEAR.Data.Enums.PeriodeType.Yearly" />
                            <input type="text" class="form-control-small value kpi-popover @remarkSign" id="@idValue" value="@kpiAchievement.Value" readonly="readonly">
                            <input type="hidden" class="form-control-small id" value="@kpiAchievement.Id">
                            <input type="hidden" class="form-control-small remark" value="@kpiAchievement.Remark">
                            <input type="hidden" class="form-control-small periode" value="@kpiAchievement.Periode">
                        </th>
                        b++;
                    }
                </tr>
                    a++;
            }
        </tbody>
    </table>

