@model DSLNG.PEAR.Web.ViewModels.Artifact.ArtifactDesignerViewModel

<div class="form-group form-list">
    @Html.LabelFor(model => model.Is3D)
    @Html.CheckBoxFor(model => model.Is3D, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Is3D)
</div>

<div class="form-group form-list">
    @Html.LabelFor(model => model.ShowLegend)
    @Html.CheckBoxFor(model => model.ShowLegend, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ShowLegend)
</div>

<div class="form-group form-list">
    <label>Series</label>
    <input type="button" value="Add Series" class="btn btn-lightblue" id="add-series" />
</div>

<div id="hidden-fields">
    @for (var i = 0; i < Model.Pie.Series.Count; i++)
    { 
        <div class="series-template original whitebox">
            <h2>Series</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.Pie.Series[i].Label)
                        @Html.TextBoxFor(model => model.Pie.Series[i].Label, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pie.Series[i].Label)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.Pie.Series[i].Color)
                        <div class="input-group colorpicker">
                            @Html.TextBoxFor(model => model.Pie.Series[i].Color, new { @class = "form-control" })
                            <span class="input-group-addon"><i></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Pie.Series[i].Color)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.Pie.Series[i].KpiId)
                        @Html.DropDownListFor(model => model.Pie.Series[i].KpiId, new List<SelectListItem>(), new { @class = "kpi-list form-control", style = "width:180px" })
                        @Html.ValidationMessageFor(model => model.Pie.Series[i].KpiId)
                    </div>
                </div>
                @*<div class="col-sm-6">
                        <div class="form-group value-axis form-list">
                            @Html.LabelFor(model => Model.Pie.Series[i].ValueAxis)
                            @Html.DropDownListFor(model => model.Pie.Series[i].ValueAxis, Model.Pie.ValueAxes, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Pie.Series[i].ValueAxis)
                        </div>
                    </div>*@
            </div>
            <input type="button" value="Remove" class="remove" />
        </div>
    }

</div>



