@model DSLNG.PEAR.Web.ViewModels.KpiTarget.IndexKpiTargetViewModel
@{
    
}

<section>
    <div class="title_page" style="border: none!important;">
        <div class="row">
            <div class="title">KPI Target</div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table-regawa">
            <thead>
                <tr>
                    <th>No</th>
                    <th>KPI Name</th>
                    <th>Measurement</th>
                    <th>Type</th>
                    <th style="width: 13%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @{ int number = 0;}
                @foreach (var roleGroup in Model.RoleGroups)
                {
                    <tr>
                        <td colspan="4" style="text-align: left;" class="grey_text">@roleGroup.Name
                        </td>
                        <td class="text-button" style="margin: auto;">
                            <a href="@Url.Action("Configuration", "KpiTarget", new {id = roleGroup.Id})"><span class="fa fa-pencil-square-o"></span>Manage</a>
                        </td>
                    </tr>

                    foreach (var kpi in roleGroup.Kpis)
                    {
                        <tr>

                            <td>@(++number)</td>
                            <td>@kpi.Name</td>
                            <td>@kpi.Measurement</td>

                            <td>@kpi.Type</td>
                            <td class="text-button" style="margin: auto;"></td>

                        </tr>        
                    }
                }
            </tbody>
        </table>
    </div>

</section>


@*@{
    ViewBag.Title = "KPI Target List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KPI List</h2>
@Html.Partial("_MessageResponse")
@Html.ActionLink("Create New", "Create")
@Html.Action("IndexPartial")


@section Scripts{
    <script type="text/javascript">
        var confirmDelete = function(id) {
            if (confirm('Are you sure want to delete this item?')) {
                var url = '@Url.Action("Delete", "KpiTarget")';
                $('<form action="' + url + '" method="POST">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>').submit();
            }
        };
    </script>
}*@