@model DSLNG.PEAR.Web.ViewModels.KpiTarget.IndexKpiTargetViewModel
@{
    
}
<hgroup class="page-hgroup-header">
    <h3 class="page-title">KPI Target</h3>
    <div class="breadcrumbs-regawa">
        <ul>
            <li>Plan</li>
            <li>Performance Setting</li>
            <li>KPI Target</li>
        </ul>
    </div>
</hgroup>


<table class="table-regawa">
    <thead>
        <tr>
            <th>No</th>
            <th>KPI Name</th>
            <th>Measurement</th>
            <th>Type</th>
            <th style="width: 13%;">Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int number = 0;}
        @foreach (var roleGroup in Model.RoleGroups)
        {
            <tr>
                <td colspan="4"><h5 class="table-regawa-kpi-heading">@roleGroup.Name</h5></td>
                <td>
                    <a class="text-button" href="@Url.Action("Configuration", "KpiTarget", new {id = roleGroup.Id})"><span class="fa fa-pencil-square-o"></span>Manage</a>
                </td>
            </tr>

            foreach (var kpi in roleGroup.Kpis)
            {
                <tr>

                    <td>@(++number)</td>
                    <td>@kpi.Name</td>
                    <td>@kpi.Measurement</td>

                    <td>@kpi.Type</td>
                    <td class="text-button" style="margin: auto;"></td>

                </tr>        
            }
        }
    </tbody>
</table>

@*@{
    ViewBag.Title = "KPI Target List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KPI List</h2>
@Html.Partial("_MessageResponse")
@Html.ActionLink("Create New", "Create")
@Html.Action("IndexPartial")


@section Scripts{
    <script type="text/javascript">
        var confirmDelete = function(id) {
            if (confirm('Are you sure want to delete this item?')) {
                var url = '@Url.Action("Delete", "KpiTarget")';
                $('<form action="' + url + '" method="POST">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>').submit();
            }
        };
    </script>
}*@