@model DSLNG.PEAR.Web.ViewModels.KpiTarget.UpdateKpiTargetViewModel

@{
    ViewBag.Title = "Update KPI Targets";
}
@Html.Partial("_MessageResponse")
<section>
    <div class="row">
        <div class="title_page" style="border: none!important;">
            <div class="title">@ViewBag.Title</div>
        </div>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group"
                style="margin: 5px 40px 0px 25px; padding-right: 30px;">
                <label>Period :</label>
                @Html.DropDownListFor(x => x.PeriodeType, Model.PeriodeTypes, new { @class = "form-control", id = "periodeType" })
                <img class="ajax-loader2" src="@Url.Content("~/content/img/ajax-loader1.gif")" style="display: none"></img>
            </div>
        </form>

    </div>

</section>


<div class="content-wrapper">
    <form action="@Url.Action("Update")" method="POST">
        <div class="update-content">
            @Html.Partial(Model.ViewName, Model)
        </div>
        <div class="col-md-12">
            <div class="centering margin">
                <hr style="margin-bottom: 60px;">
                <a href="javascript:;" onclick="$(this).closest('form').submit()" class="btn-darkblue btn-large"><span class="fa fa-floppy-o"></span>Save</a>
                <a href="@Url.Action("Configuration", "PmsSummary", new {id = Model.PmsSummaryId})" data-dismiss="modal" aria-label="Close" class="btn-darkblue btn-large"><span class="fa fa-times"></span>Cancel</a>
            </div>
        </div>
    </form>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $('#periodeType').change(function () {
            var val = $(this).val();
            console.log('sini' + val);
            $.ajax({
                url: '@Url.Action("UpdatePartial")',
                type: 'GET',
                data: { id: '@Model.PmsSummaryId', periodeType: val },
                    beforeSend: function () {
                        $('.ajax-loader2').show();
                        $('.content-wrapper').hide();
                    }
            })
                .done(function (data) {
                    $('.ajax-loader2').hide();
                    $('.update-content').html(data);
                    $('.content-wrapper').show();
                });
        });
    })
</script>



