@model DSLNG.PEAR.Web.ViewModels.Artifact.ArtifactDesignerViewModel

@{
    ViewBag.Title = "Artifact - Designer";
}
<div class="artifact-designer">
    @using (Html.BeginForm("Create", "Artifact"))
    {
        @Html.AntiForgeryToken()
        <hgroup class="page-hgroup-header">
            <h3 class="page-title text-inline">Artifact Designer</h3>
            <h5 class="text-inline">New</h5>
            <div>@Html.ValidationSummary(true)</div>
        </hgroup>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="container-box form-horizontal">
                        <h4 class="container-box-title center">Graphic Type</h4>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GraphicType, new { @class = "col-sm-4 control-label"})
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.GraphicType, Model.GraphicTypes, new { @class = "form-control", id = "graphic-type", data_graph_url = Url.Action("GraphSettings", "Artifact") })
                                @Html.ValidationMessageFor(model => model.GraphicType)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GraphicName, new { @class = "col-sm-4 control-label"})
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.GraphicName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GraphicName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.HeaderTitle, new { @class = "col-sm-4 control-label"})
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.HeaderTitle, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HeaderTitle)
                            </div>                            
                        </div>

                        <div class="form-group form-measurement">
                            @Html.LabelFor(model => model.MeasurementId, new { @class = "col-sm-4 control-label"})
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.MeasurementId, Model.Measurements, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MeasurementId)
                            </div>
                            @Html.ValidationMessageFor(model => model.MeasurementId)
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="container-box form-horizontal">
                        <h4 class="container-box-title center">Graphic Settings</h4>
                        <div id="general-graphic-settings">

                            <div class="form-group">
                                @Html.LabelFor(model => model.PeriodeType, new { @class = "col-sm-4 control-label"})
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.PeriodeType, Model.PeriodeTypes, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PeriodeType)
                                </div>                                
                            </div>

                            <div id="range-filter-holder">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RangeFilter, new { @class = "col-sm-4 control-label"})
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(model => model.RangeFilter, Model.RangeFilters, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RangeFilter)
                                    </div>                                    
                                </div>
                            </div>

                            <div id="range-holder">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.StartInDisplay, new { @class = "col-sm-4 control-label"})
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.StartInDisplay, new { data_provide = "datepicker", @class = "datepicker form-control" })
                                        @Html.ValidationMessageFor(model => model.StartInDisplay)
                                    </div>                                    
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EndInDisplay, new { @class = "col-sm-4 control-label"})
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.EndInDisplay, new { data_provide = "datepicker", @class = "datepicker form-control" })
                                        @Html.ValidationMessageFor(model => model.EndInDisplay)
                                    </div>                                    
                                </div>
                            </div>

                            <div class="form-group main-value-axis">
                                @Html.LabelFor(model => model.ValueAxis, new { @class = "col-sm-4 control-label"})
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.ValueAxis, Model.ValueAxes, new { id = "bar-value-axis", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ValueAxis)
                                </div>                                
                            </div>

                        </div>
                        <div id="graphic-settings"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="series-holder" class="graphic-properties">
        </div>
        <div id="plot-bands-holder" class="graphic-properties">
        </div>
        <div id="charts-holder" class="graphic-properties">
        </div>
        <div id="rows-holder" class="graphic-properties">
        </div>

        <div class="artifact-designer-btns">
            <button type="submit" class="button button-action"><span class="fa fa-floppy-o"></span>Save</button>
            <button data-preview-url="@Url.Action("Preview", "Artifact")"  id="graphic-preview-btn" type="button" class="button">
                <span class="fa fa-eye"></span>View
            </button>
            <a onclick="location.reload();" class="button"><span class="fa fa-repeat"></span>Clear</a>
            <a href="@Url.Action("Index", "Artifact")" class="button"><span class="fa fa-times"></span>Cancel</a>
        </div>
    }
</div>

<div id="hidden-fields-holder" data-kpi-url="@Url.Action("KpiList", "Artifact")"></div>

<!-- Modal -->
<div class="modal fade" id="graphic-preview" tabindex="-1" role="dialog" aria-labelledby="graphicPreview" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Artifact Preview</h4>
            </div>
            <div class="modal-body">
                <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
