@model DSLNG.PEAR.Web.ViewModels.Measurement.UpdateMeasurementViewModel
@{
    ViewBag.Title = "Edit Measurement";
}

<hgroup class="page-hgroup-header">
    <h3 class="page-title">@ViewBag.Title</h3>
</hgroup>

@Html.Partial("_MessageResponse")

<div class="container-box small-wide container-box-form">
        <form action="@Url.Action("Update")" method="POST">
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>

            <button type="submit" class="button button-action">Submit</button>
            <a href="@Url.Action("Index")" class="button">Cancel</a>
        </form>
</div>







