<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @*<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>*@
    @Styles.Render("~/Content/css")
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
    new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.Report },
    new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    new Script { ExtensionSuite = ExtensionSuite.TreeList },
    new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
    new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
)
</head>

<body class="skin-black">
    <!-- header logo: style can be found in header.less -->

    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">


            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" id="menu">

                <ul class="sidebar-menu-left">
                    <div style="background-color: #3f454f; height: 70px; padding-top: 15px;">
                        <img src="@Url.Content("~/Content/img/logopear.png")" />
                    </div>
                    <li class="active"><a href="#" class="menu_dashboard"><i class="fa fa-dashboard"></i><span>DASH<br />
                        BOARD</span></a></li>

                    <li><a href="#" class="menu_plan"><i class="fa fa-calendar"></i><span>PLAN</span></a></li>

                    <li><a href="#" class="menu_execute"><i class="fa fa-gavel"></i><span>EXECUTE</span></a></li>

                    <li><a href="#" class="menu_assess"><i class="fa fa-edit"></i><span>ASSESS</span></a></li>

                    <li><a href="#" class="menu_report"><i class="fa fa-bar-chart-o"></i><span>REPORT</span></a></li>

                </ul>



                <div class="sidebar-menu-right">

                    <div class="logo_top">
                        <img src="@Url.Content("~/Content/img/logo_blue.png")" />
                    </div>

                    <div class="submenu">
                        <ul class="submenu_dashboard">

                            <div class="accordion">
                                <a href="#">Corporate Performance<span class="fa fa-angle-down"></span></a><br />
                                <div class="sublevel">
                                    <a href="production.html">Productivity & Efficiency</a><br />
                                    <a href="#">Financial Strength</a><br />
                                    <a href="#">Stakeholder Responsible</a><br />
                                    <a href="#">Safety</a>
                                </div>
                            </div>
                            <a href="#">Directorate Performance</a><br />
                            <div class="accordion">
                                <a href="#">Function Performance<span class="fa fa-angle-down"></span></a><br />
                                <div class="sublevel">
                                    <a href="#">QHSE</a><br />
                                    <a href="#">HCD</a><br />
                                    <a href="#">Procurement</a><br />
                                    <a href="#">Maintance</a><br />
                                </div>
                            </div>
                            <a href="#">Executive Summary</a><br />
                            <a href="#">Summary KO</a><br />
                            <a href="#">Economic Summary</a><br />
                            <a href="index2.html">PMS Summary</a><br />
                            <div class="accordion">
                                <a href="#">Configuration Setting<span class="fa fa-angle-down"></span></a><br />
                                <div class="sublevel">
                                    <a href="#">Template</a><br />
                                    <a href="#">Template Editor</a><br />
                                </div>
                            </div>



                        </ul>

                        <ul class="submenu_plan" style="display: none;">

                            <div class="accordion">
                                <a href="#">Business Indicator<span class="fa fa-angle-down"></span></a><br />
                                <div class="sublevel">
                                    <a href="#">Period</a><br />
                                    <a href="#">Type</a><br />
                                    <a href="#">Method</a><br />
                                    <a href="#">Conversion</a><br />
                                    <a href="#">Level</a><br />
                                    <a href="#">Pilar</a><br />
                                    <a href="#">Measurement</a><br />
                                    <a href="#">Group</a><br />
                                    <a href="#">Activity</a><br />

                                </div>
                            </div>
                            <div class="accordion">
                                <a href="#">Performance Setting<span class="fa fa-angle-down"></span></a><br />
                                <div class="sublevel">
                                    <a href="#">Setting Target</a><br />
                                    <a href="#">Corporate Portfolio</a><br />

                                </div>
                            </div>
                            <a href="#">Plan Resource</a><br />
                            <a href="#">Project Setting</a><br />

                            <div class="accordion">
                                <a href="#">Economic Model<span class="fa fa-angle-down"></span></a><br />
                                <div class="sublevel">
                                    <a href="#">Configuration</a><br />
                                    <a href="#">Key Assumption Configuration</a><br />
                                    <a href="#">Operation Data Configuration</a><br />
                                    <a href="#">Key Output Configuration</a><br />
                                    <a href="#">Key Output Template</a><br />
                                    <a href="#">Master</a><br />
                                    <a href="#">Operation Data Category</a><br />
                                    <a href="#">Key Assumption Stage</a><br />
                                    <a href="#">Key Assumption Category</a><br />
                                    <a href="#">Key Output Category</a><br />
                                    <a href="#">Scenario List</a><br />
                                    <a href="#">EM Summary</a><br />
                                </div>
                            </div>
                        </ul>
                        <ul class="submenu_execute" style="display: none;">

                            <a href="#">KPI Achievement</a><br />
                            <a href="#">Actual Resource</a><br />
                            <a href="#">Project Progress</a><br />

                        </ul>
                        <ul class="submenu_assess" style="display: none;">
                            <a href="#">Project Impact</a><br />
                            <a href="#">Resource Utilization</a><br />
                            <a href="#">Economic Review</a><br />

                        </ul>
                        <ul class="submenu_report" style="display: none;">
                            <a href="#">Daily Execution Report</a><br />
                            <a href="#">Management Information Report</a><br />
                            <a href="#">KPI Test</a><br />

                        </ul>

                    </div>
                </div>

            </section>
            <!-- /.sidebar -->
        </aside>
        <aside class="right-side">
                @RenderBody()
        </aside>
       
        @Scripts.Render("~/bundles/js")
        <script>
            $(".menu_dashboard").click(function () {
                $(".submenu_dashboard").show();
                $(".submenu_plan").hide();
                $(".submenu_execute").hide();
                $(".submenu_assess").hide();
                $(".submenu_report").hide();

            });


            $(".menu_plan").click(function () {
                $(".submenu_dashboard").hide();
                $(".submenu_plan").show();
                $(".submenu_execute").hide();
                $(".submenu_assess").hide();
                $(".submenu_report").hide();

            });

            $(".menu_execute").click(function () {
                $(".submenu_dashboard").hide();
                $(".submenu_plan").hide();
                $(".submenu_execute").show();
                $(".submenu_assess").hide();
                $(".submenu_report").hide();

            });

            $(".menu_assess").click(function () {
                $(".submenu_dashboard").hide();
                $(".submenu_plan").hide();
                $(".submenu_execute").hide();
                $(".submenu_assess").show();
                $(".submenu_report").hide();

            });

            $(".menu_report").click(function () {
                $(".submenu_dashboard").hide();
                $(".submenu_plan").hide();
                $(".submenu_execute").hide();
                $(".submenu_assess").hide();
                $(".submenu_report").show();

            });

        </script>

        <script>
            $(".accordion > div").hide().parent().hover(function (event) {
                $(this).children("div").slideToggle(event.type === "mouseenter");
            });
        </script>
</body>
</html>
