<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    @*<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>*@
    @Styles.Render("~/Content/css")
    @Html.DevExpress().GetStyleSheets(
    //new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    //new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
)
    @Html.DevExpress().GetScripts(
    //new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    //new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView }
    //new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    //new Script { ExtensionSuite = ExtensionSuite.Editors },
    //new Script { ExtensionSuite = ExtensionSuite.Chart },
    //new Script { ExtensionSuite = ExtensionSuite.Report },
    //new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    //new Script { ExtensionSuite = ExtensionSuite.TreeList },
    //new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
    //new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
)
</head>

<body>
    <div class="main-content">
        <aside class="left-content">
            <div class="logo">
                <div class="pear">
                    <img src="@Url.Content("~/Content/img/logopear.png")" />
                </div><!--
      --><div class="donggi">
                    <img src="@Url.Content("~/Content/img/logo_blue.png")" />
                </div>
            </div>

            @Html.Action("SiteMap", "Menu")

            <div class="left-content-toggle">
                <i class="fa fa-caret-left"></i>
                <i style="display: none" class="fa fa-caret-right"></i>
            </div>
        </aside>
        <aside class="right-content">
            <div class="clearfix"></div>
            @RenderBody()
        </aside>
        
    </div>
    @Scripts.Render("~/bundles/js")
    <script type="text/javascript">

        $(document).ready(function () {
            $('.sub-nav > li').hover(function () {
                var $this = $(this);
                $this.find('ul').stop().slideToggle();
            })
            $('.main-nav > li').click(function () {
                $('.main-nav > li.active').removeClass('active');
                $(this).addClass('active');
            })
            $('.left-content-toggle').click(function () {
                $(this).find('i').toggle();
                var $leftContent = $('.left-content');
                if (!$leftContent.hasClass('pear-hidden')) {

                    $('.main-content').animate({
                            marginLeft: -230
                        }, function () {
                            $leftContent.addClass('pear-hidden');
                        })
                } else {
                    $('.main-content').animate({
                            marginLeft: 0
                        }, function () {
                            $leftContent.removeClass('pear-hidden');
                        })
                }
            });
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
