@model DSLNG.PEAR.Web.ViewModels.Template.TemplateViewModel

@{
    ViewBag.Title = "Dashboard Template - New";
}
<hgroup class="template-editor">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hgroup class="page-hgroup-header">
            <h3 class="page-title">Dashboard Template</h3>
            <h5 class="">New</h5>
            <div>@Html.ValidationSummary(true)</div>
        </hgroup>

        
<div class="container-fluid container-box form-horizontal">
  <div class="row">
    <div class="col-sm-4">                    
      <div class="form-group form-list">
          @Html.LabelFor(model => model.Name, new { @class = "col-sm-4 control-label" })
          <div class="col-sm-8">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
          </div>
      </div>
      <div class="form-group form-list">
          @Html.LabelFor(model => model.RefershTime, new { @class = "col-sm-4 control-label" })
          <div class="col-sm-8">
            @Html.TextBoxFor(model => model.RefershTime, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RefershTime)
          </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group form-list">
          @Html.LabelFor(model => model.Remark, new { @class = "col-sm-4 control-label" })
          <div class="col-sm-8">
            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Remark)
          </div>
      </div>
      <div class="form-group form-list">
          <div class="col-sm-8">
            <div class="checkbox-form">
                <div class="checkbox-form-item">
                <label for="IsActive">
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "" })
                    <span class="checkbox-form-image"></span>
                    <p>Paid</p>
                    @Html.ValidationMessageFor(model => model.IsActive)
                </label>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-3">                    
      <input type="button" value="Add Row" class="add-row button button-action" />
    </div>
  </div>
</div>

        
        <div id="rows-holder">
           @* <div class="col-md-12 layout-row-wrapper">
                <div class="whitebox">
                    <input type="button" value="Add Column" class="add-column" />
                    <input type="button" value="Remove Row" class="remove-row" />
                    <div class="layout-row row">
                        <div class="layout-column" style="width: 100%">
                            <div class="column-properties">
                                <div class="form-group">
                                    <div class="input-group colorpicker">
                                        <input type="number" placehodler="width" class="column-width form-control" />
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Artifact</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="button" value="Remove Column" class="remove-column" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@
        </div>
        <div class="col-md-12 artifact-designer-btns">
            <button type="submit" class="button button-action"><span class="fa fa-floppy-o"></span>Save</button>
            <button data-preview-url="@Url.Action("Preview", "Template")"  id="graphic-preview-btn" type="button" class="button"><span class="fa fa-eye"></span>View</button>
            <button type="button" class="button"><span class="fa fa-repeat"></span>Clear</button>
            <button type="button" class="button"><span class="fa fa-times"></span>Cancel</button>
        </div>
    }
</div>
<div id="hidden-fields-holder" data-artifact-url="@Url.Action("ArtifactList","Template")">
    @*<div class="layout-column original" style="width: 100%">
        <div class="column-properties">
            <div class="form-group">
                <div class="input-group colorpicker">
                    <input type="number" placehodler="width" class="column-width form-control" />
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>Select Artifact</option>
                </select>
            </div>
            <div class="form-group">
                <input type="button" value="Remove Column" class="remove-column button button-danger button-tny" />
            </div>
        </div>
    </div>*@
    <div class="layout-row-wrapper original">
        <div class="container-box">
            
                <input type="button" value="Add Column" class="add-column button button-tny" />
                <input type="button" value="Remove Row" class="remove-row button button-tny button-danger pull-right" />
            
            <div class="layout-row">
                <div class="layout-column original" style="width: 100%">
                    <div class="column-properties">
                        <div class="form-group">
                            <div class="input-group colorpicker">
                                <input name="LayoutRows[0].LayoutColumns[0].Width" type="number" placehodler="width" class="column-width form-control" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select name="LayoutRows[0].LayoutColumns[0].ArtifactId" class="form-control artifact-list" style="width:200px">
                                <option>Select Artifact</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="button" value="Remove Column" class="remove-column button button-danger button-tny" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="graphic-preview" tabindex="-1" role="dialog" aria-labelledby="graphicPreview" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Template Preview</h4>
            </div>
            <div class="modal-body">
                <div id="container" style="min-width: 310px; max-width: 800px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
