@model DSLNG.PEAR.Web.ViewModels.User.UserLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-form">
    <div class="head">

        <img src="@Url.Content("~/Content/img/logo_login.png")" alt="" />

    </div>

    @Html.ValidationSummary(true, "Login Failed, Please check your credentials", new { @class = "alert alert-danger" })


    <form action="@Url.Action("Login")" method="POST" autocomplete="off" id="formLogin" onsubmit="return validateForm();">

        <li>
            <input type="text" name="Username" id="Username" class="text" placeholder="Username">
            <span class=" icon user"></span>
            @Html.ValidationMessageFor(u => u.Username)
        </li>
        <li>
            <input type="password" id="Password" name="Password" placeholder="Password">
            <span class=" icon lock"></span>
            @Html.ValidationMessageFor(u => u.Password)
        </li>
        <div class="p-container">
            <input type="submit" value="Sign In">
            <div class="clear"></div>
        </div>
    </form>
</div>


<script type="text/javascript">

    function validateForm() {
        var form = document.forms['formLogin'];
        var username = form["Username"].value;
        var password = form["Password"].value;
        if (username == null || username == "") {
            alert("Username must be filled out");
            return false;
        }

        if (password == null || password == "") {
            alert("Password must be filled out");
            return false;
        }
    }
</script>


