@model DSLNG.PEAR.Web.ViewModels.Artifact.ArtifactDesignerViewModel

<div class="form-group">
    @Html.LabelFor(model => model.AreaChart.Series, new { @class = "col-sm-4 control-label"})
    <div class="col-sm-8">
        @Html.DropDownList("seriesType", Model.AreaChart.SeriesTypes, new { id = "seriesType", @class = "form-control" })
        <input type="button" value="Add Series" class="button button-action button-tny margin-top-1rem" id="add-series" />
    </div>
</div>

<div id="hidden-fields">
    @for (var i = 0; i < Model.AreaChart.Series.Count; i++)
    {
        var original = i == 0 ? "original" : "";
        var dataSeriesPos = original == "" ? "data-series-pos=" + i : "";
        <div class="series-template @original container-box form-horizontal form-artifact" @dataSeriesPos>
            <input type="hidden" name="AreaChart.Series.Index" value="@i" />
            <h4 class="page-title text-inline">Series</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.AreaChart.Series[i].Label)
                        @Html.TextBoxFor(model => model.AreaChart.Series[i].Label, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AreaChart.Series[i].Label)
                    </div>
                </div>
                <div class="series-details-holder">
                    <div class="col-sm-6">
                        <div class="form-group form-list">
                            @Html.LabelFor(model => model.AreaChart.Series[i].Color)
                            <div class="input-group colorpicker">
                                @Html.TextBoxFor(model => model.AreaChart.Series[i].Color, new { @class = "form-control" })
                                <span class="input-group-addon"><i style="background-color:@Model.AreaChart.Series[i].Color"></i></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.AreaChart.Series[i].Color)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-list">
                            @Html.LabelFor(model => model.AreaChart.Series[i].KpiId)
                            @Html.DropDownListFor(model => model.AreaChart.Series[i].KpiId, new List<SelectListItem> { new SelectListItem { Value = Model.AreaChart.Series[i].KpiId.ToString(), Text = Model.AreaChart.Series[i].KpiName } }, new { @class = "kpi-list form-control", style = "width:180px" })
                            @Html.ValidationMessageFor(model => model.AreaChart.Series[i].KpiId)
                        </div>
                    </div>
                </div>
            </div>
            <div class="stacks-holder">
                <label>&nbsp;</label>
                <input type="button" value="Add Stack" class="btn btn-lightblue add-stack" />
                @for (var j = 0; j < Model.AreaChart.Series[i].Stacks.Count; j++)
                { 
                    <fieldset class="stack-template  @original form-inline">
                        <input type="hidden" name="AreaChart.Series[@i].Stacks.Index" value="@j" />
                        <legend>Stack</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-list">
                                    @Html.LabelFor(model => model.AreaChart.Series[i].Stacks[j].Label)
                                    @Html.TextBoxFor(model => model.AreaChart.Series[i].Stacks[j].Label, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AreaChart.Series[i].Stacks[j].Label)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AreaChart.Series[i].Stacks[j].KpiId)
                                    @Html.DropDownListFor(model => model.AreaChart.Series[i].Stacks[j].KpiId, new List<SelectListItem> { new SelectListItem { Value = Model.AreaChart.Series[i].Stacks[j].KpiId.ToString(), Text = Model.AreaChart.Series[i].Stacks[j].KpiName } }, new { @class = "kpi-list  form-control", style = "width:180px" })
                                    @Html.ValidationMessageFor(model => model.AreaChart.Series[i].Stacks[j].KpiId)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.AreaChart.Series[i].Stacks[j].Color)
                                <div class="input-group colorpicker">
                                    @Html.TextBoxFor(model => model.AreaChart.Series[i].Stacks[j].Color, new { @class = "form-control" })
                                    <span class="input-group-addon"><i style="background-color:@Model.AreaChart.Series[i].Stacks[j].Color"></i></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.AreaChart.Series[i].Stacks[j].Color)
                            </div>
                        </div>
                        <input type="button" value="Remove" class="remove" />
                    </fieldset>
                }
            </div>

            <input type="button" value="Remove" class="remove" />
        </div>
    }

</div>



