@model DSLNG.PEAR.Web.ViewModels.Artifact.ArtifactDesignerViewModel

<div class="form-group">
    @Html.LabelFor(model => model.SpiderwebChart.PeriodeType, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.SpiderwebChart.PeriodeType, Model.SpiderwebChart.PeriodeTypes)
        @Html.ValidationMessageFor(model => model.SpiderwebChart.PeriodeType)
    </div>
</div>

<div id="range-filter-holder">
    <div class="form-group">
    @Html.LabelFor(model => model.SpiderwebChart.RangeFilter, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.SpiderwebChart.RangeFilter, Model.SpiderwebChart.RangeFilters)
        @Html.ValidationMessageFor(model => model.SpiderwebChart.RangeFilter)
    </div>
</div>

</div>

@*@Html.HiddenFor(model => model.SpiderwebChart.Start, new { @id = "periode-start" })
@Html.HiddenFor(model => model.SpiderwebChart.End, new { @id = "periode-end" })*@



<div id="range-holder">
    <div class="form-group">
        @Html.LabelFor(model => model.SpiderwebChart.StartInDisplay, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SpiderwebChart.StartInDisplay, new { data_provide = "datepicker", @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.SpiderwebChart.StartInDisplay)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SpiderwebChart.EndInDisplay, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SpiderwebChart.EndInDisplay, new { data_provide = "datepicker", @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.SpiderwebChart.EndInDisplay)
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SpiderwebChart.ValueAxis, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.SpiderwebChart.ValueAxis, Model.SpiderwebChart.ValueAxes, new { id = "bar-value-axis" })
        @Html.ValidationMessageFor(model => model.SpiderwebChart.ValueAxis)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SpiderwebChart.FractionScale, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.SpiderwebChart.FractionScale)
        @Html.ValidationMessageFor(model => model.SpiderwebChart.FractionScale)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SpiderwebChart.MaxValue, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.SpiderwebChart.MaxValue)
        @Html.ValidationMessageFor(model => model.SpiderwebChart.MaxValue)
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Add Node" class="btn btn-default" id="add-series" />
    </div>
</div>

<div id="series-holder">
</div>

<div id="hidden-fields">
    @for (var i = 0; i < Model.SpiderwebChart.SeriesList.Count; i++)
    { 
        <fieldset class="series-template original">
            <legend>Series</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.SpiderwebChart.SeriesList[i].Label, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SpiderwebChart.SeriesList[i].Label)
                    @Html.ValidationMessageFor(model => model.SpiderwebChart.SeriesList[i].Label)
                </div>
            </div>
            <div class="series-details-holder">
                <div class="form-group">
                    @Html.LabelFor(model => model.SpiderwebChart.SeriesList[i].KpiId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SpiderwebChart.SeriesList[i].KpiId, Model.SpiderwebChart.KpiList, new { @class = "kpi-list" })
                        @Html.ValidationMessageFor(model => model.SpiderwebChart.SeriesList[i].KpiId)
                    </div>
                </div>
            </div>
            <input type="button" value="Remove" class="remove" />
        </fieldset>
    }

</div>




