
@using System.Linq;
@model DSLNG.PEAR.Web.ViewModels.PmsConfig.CreatePmsConfigViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h5>Add Pillar</h5>
</div>

<div class="modal-body">
    <form class="form-group" action="@Url.Action("Create")" method="POST">
        @Html.HiddenFor(x => x.PmsSummaryId)
        <div class="form-group form-list">
            <label>Pillar</label>
            @Html.DropDownListFor(x => x.PillarId, Model.Pillars, "Select Pillar", new { @class = "form-control ddl-pillar" })
            @Html.ValidationMessageFor(x => x.PillarId)
        </div>

        <div class="form-group form-list">
            <label>Scoring Type</label>
            @Html.DropDownListFor(x => x.ScoringType, Model.ScoringTypes, "Select Scoring Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ScoringType)
        </div>

        <div class="form-group form-list">
            <label>Weight</label>
            @Html.TextBoxFor(x => x.Weight, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Weight)
        </div>
        @Html.Partial("_ScoringIndicator", Model.ScoreIndicators)

        <div class="centering margin">
            <hr style="margin-bottom:60px;">
            <a href="#" onclick="$(this).closest('form').submit()" class="btn-darkblue btn-large"><span class="fa fa-floppy-o"></span>Save</a>
            @*<a href="#" class="btn-darkblue btn-large"><span class="fa fa-repeat"></span>Clear</a>*@
            <a href="javascript:;" data-dismiss="modal" aria-label="Close" class="btn-darkblue btn-large"><span class="fa fa-times"></span>Cancel</a>
        </div>

    </form>
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");

            @*$('.ddl-pillar').change(function () {
            var pillarId = $(this).val();
            var ddlKpi = $('.ddl-kpi');
            $.ajax({
                url: '@Url.Action("GetKpis")',
                data: { id: pillarId },
                type: 'GET',
                success: function (data) {
                    ddlKpi.html('');
                    $.each(data, function (id, option) {
                        ddlKpi.append($('<option></option>').val(option.id).html(option.name));
                    });
                }
            });

        });*@
        })
    </script>

