@model DSLNG.PEAR.Web.ViewModels.PmsSummary.PmsConfigDetailsViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span
            aria-hidden="true">&times;</span></button>
    <div class="row">
        <div class="trafficlight green"></div>
        <div class="title">@Model.GroupKpi.Name</div>
        <div class="description_year">@Model.Title</div>
        <div class="description_month">@Model.Month @Model.Year</div>
    </div>

</div>
<div class="modal-body">
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#groupkpi" aria-controls="home" role="tab" data-toggle="tab">
                    <div class="fa fa-th-list"></div>
                    <div>Group KPI</div>
                </a>
            </li>
            <li role="presentation">
                <a href="#clausalmodel" aria-controls="home" role="tab" data-toggle="tab">
                    <div class="fa fa-hand-o-right"></div>
                    <div>Clausal Model</div>
                </a>
            </li>
            <li role="presentation">
                <a href="#graphchart" aria-controls="home" role="tab" data-toggle="tab">
                    <div class="fa fa-bar-chart-o"></div>
                    <div>Graph Chart</div>
                </a>
            </li>
            <li role="presentation">
                <a href="#remark" aria-controls="home" role="tab" data-toggle="tab">
                    <div class="fa fa-pencil"></div>
                    <div>Remark</div>
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="groupkpi">

                <table class="table table-striped table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th rowspan="2">Group</th>
                            <th rowspan="2">Performance Indicator</th>
                            <th rowspan="2">Unit</th>

                            <th rowspan="2">Period</th>

                            <th colspan="2">Actual</th>
                        </tr>
                        <tr>
                            <th class="index">Yearly</th>
                            <th class="index">Monthly</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="modal" data-target="#ModalFatality">

                            <td>@Model.GroupKpi.Group</td>
                            <td>@Model.GroupKpi.Name</td>
                            <td>@Model.GroupKpi.Unit</td>
                            <td>@Model.GroupKpi.Period</td>
                            <td>@Model.GroupKpi.ActualYearly</td>
                            <td>@Model.GroupKpi.ActualMonthly</td>


                        </tr>
                    </tbody>
                </table>

            </div>

            <div role="tabpanel" class="tab-pane" id="clausalmodel">
                <table class="table table-striped table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th rowspan="2">Performance Indicator</th>
                            <th rowspan="2">Unit</th>

                            <th rowspan="2">Relation Model</th>

                            <th colspan="2">Actual</th>
                        </tr>
                        <tr>
                            <th class="index">Yearly</th>
                            <th class="index">Monthly</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ClausalModel)
                        {
                            <tr data-toggle="modal" data-target="#ModalFatality">
                                <td>@item.Name</td>
                                <td>@item.Unit</td>
                                <td>@item.RelationModel</td>
                                <td>@item.ActualYearly</td>
                                <td>@item.ActualMonthly</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="graphchart">

                <div class="btn-group btn-more">
                    <button type="button" class="dropdown-toggle icon_more" data-toggle="dropdown"
                            aria-expanded="false">
                        <span class="fa fa-bars"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="fa fa-print"></span>Print Chart</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-bar-chart-o"></span>View Tabular</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-file-image-o"></span>Download PNG Image</a></li>
                        <li><a href="#"><span class="fa fa-file-image-o"></span>Download JPEG Image</a></li>
                        <li><a href="#"><span class="fa fa-file-pdf-o"></span>Download PDF Document</a></li>
                        <li><a href="#"><span class="fa fa-file-text-o"></span>Download SVG Vector Image</a>
                        </li>
                    </ul>
                </div>
                <div class="description_year">Yearly</div>
                <div class="content_tab">
                    <img src="@Url.Content("~/Content/img/graphic8.PNG")" />
                </div>
                <hr>

                <div class="btn-group btn-more">
                    <button type="button" class="dropdown-toggle icon_more" data-toggle="dropdown"
                            aria-expanded="false">
                        <span class="fa fa-bars"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="fa fa-print"></span>Print Chart</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-bar-chart-o"></span>View Tabular</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-file-image-o"></span>Download PNG Image</a></li>
                        <li><a href="#"><span class="fa fa-file-image-o"></span>Download JPEG Image</a></li>
                        <li><a href="#"><span class="fa fa-file-pdf-o"></span>Download PDF Document</a></li>
                        <li><a href="#"><span class="fa fa-file-text-o"></span>Download SVG Vector Image</a>
                        </li>
                    </ul>
                </div>
                <div class="description_year">Monthly</div>
                <div class="content_tab">
                    <img src="@Url.Content("~/Content/img/graphic9.PNG")" />
                </div>
                <hr>
                <div class="btn-group btn-more">
                    <button type="button" class="dropdown-toggle icon_more" data-toggle="dropdown"
                            aria-expanded="false">
                        <span class="fa fa-bars"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="fa fa-print"></span>Print Chart</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-bar-chart-o"></span>View Tabular</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-file-image-o"></span>Download PNG Image</a></li>
                        <li><a href="#"><span class="fa fa-file-image-o"></span>Download JPEG Image</a></li>
                        <li><a href="#"><span class="fa fa-file-pdf-o"></span>Download PDF Document</a></li>
                        <li><a href="#"><span class="fa fa-file-text-o"></span>Download SVG Vector Image</a>
                        </li>
                    </ul>
                </div>
                <div class="description_year">Monthly Commulative</div>
                <div class="content_tab">
                    <img src="@Url.Content("~/Content/img/graphic9.PNG")" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="remark">

                <table class="table table-striped table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th style="width: 10%">Type</th>
                            <th style="width: 20%">Period</th>

                            <th>Remark</th>


                        </tr>

                    </thead>
                    <tbody>
                        <tr>

                            <td>@Model.RemarksYearly.Type</td>
                            <td>@Model.RemarksYearly.Period</td>
                            <td>@Model.RemarksYearly.Remark</td>

                        </tr>
                        @for (int i = 0; i < Model.RemarksMonthly.Count; i++)
                        {
                            <tr>
                                @if (i == 0)
                                {
                                    <td>@Model.RemarksMonthly[i].Type</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@Model.RemarksMonthly[i].Period</td>
                                <td>@Model.RemarksMonthly[i].Remark</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
