@using DSLNG.PEAR.Web.ViewModels.PmsSummary
@model UpdatePmsSummaryViewModel
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span
        aria-hidden="true">&times;</span></button>
<div class="whitebox">
    <h5>Update Pms Summary</h5>
    <form class="form-group" action="@Url.Action("Update")" method="POST">
        @Html.HiddenFor(x => x.Id)
        <div class="form-group form-list">
            @Html.LabelFor(x => x.Year)
            <input class="datepicker form-control" data-provide="datepicker" name="year" type="text" value="@Model.Year">
            @Html.ValidationMessageFor(x => x.Year)
        </div>
        
        <div class="form-group form-list">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>

        <div class="form-group form-list form-inline">
            @Html.LabelFor(x => x.IsActive)
            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.IsActive)
        </div>
        @Html.Partial("_ScoringIndicator", Model.ScoreIndicators)
        
        <div class="centering margin">
            <hr style="margin-bottom:60px;">
            <a href="#" onclick="$(this).closest('form').submit()" class="btn-darkblue btn-large"><span class="fa fa-floppy-o"></span>Save</a>
            <a href="javascript:;" data-dismiss="modal" aria-label="Close" class="btn-darkblue btn-large"><span class="fa fa-times"></span>Cancel</a>
        </div>

    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
        $('.datepicker').datetimepicker({
            format: "YYYY"
        });
    })
</script>

