@using DSLNG.PEAR.Web.ViewModels.PmsSummary
@model UpdatePmsSummaryViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Update Pms Summary</h4>
</div>

<form action="@Url.Action("Update")" method="POST">
    <div class="modal-body"> 
        @Html.HiddenFor(x => x.Id)
        <div class="form-group form-list">
            @Html.LabelFor(x => x.Year)
            <input class="datepicker form-control" data-provide="datepicker" name="year" type="text" value="@Model.Year">
            @Html.ValidationMessageFor(x => x.Year)
        </div>
        
        <div class="form-group form-list">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>

        <div class="form-group form-list form-inline">
            @Html.LabelFor(x => x.IsActive)
            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.IsActive)
        </div>
        @Html.Partial("_ScoringIndicator", Model.ScoreIndicators)
    </div>
        
    <div class="modal-footer">
        <button href="#" onclick="$(this).closest('form').submit()" class="button button-action"><span class="fa fa-floppy-o"></span>Save</button>
        <button href="javascript:;" data-dismiss="modal" aria-label="Close" class="button"><span class="fa fa-times"></span>Cancel</button>
    </div>

</form>


<script type="text/javascript">
    $(document).ready(function () {
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
        $('.datepicker').datetimepicker({
            format: "YYYY"
        });
    })
</script>

