@model DSLNG.PEAR.Web.ViewModels.PmsSummary.PmsSummaryConfigurationViewModel
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_MessageResponse")


<hgroup class="page-hgroup-header">
    <h3 class="page-title">PMS Summary Configuration</h3>
    <div class="breadcrumbs-regawa">
        <ul>
            <li>Plan</li>
            <li>Performance Setting</li>
            <li>Corporate Portfolio</li>
        </ul>
    </div>
</hgroup>

<button href="@Url.Action("Create")" class="button button-action" data-toggle="modal" data-target="#modalDialog">
    <span class="fa fa-plus"></span>
    Add PMS Summary
</button>


<table class="table-regawa">
    <thead>
        <tr>
            <th rowspan="2">No</th>
            <th rowspan="2">Year</th>
            <th rowspan="2">Title</th>
            <th rowspan="2">Pillar & KPI</th>
            <th rowspan="2">Value Target</th>
            <th rowspan="2">Value Achievement</th>
            <th rowspan="2">Scoring Indicator</th>
            <th rowspan="2">Is Active</th>
            <th rowspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model.CorporatePortofolios)
        {
            i++;
            <tr data-toggle="modal">
                <td>@i</td>
                <td>@item.Year</td>
                <td>@item.Title</td>
                <td>
                    <a class="text-button" href="@Url.Action("Details", "PmsSummary", new { id = item.Id }, null)">Details<span class="fa icon-right fa-external-link"></span></a>
                </td>
                <td>
                    <a class="text-button" href="@Url.Action("Update", "KpiTarget", new { id = item.Id }, null)">Details<span class="fa icon-right fa-external-link"></span></a>
                </td>
                <td>
                    <a class="text-button" href="@Url.Action("Update", "KpiAchievement", new { id = item.Id }, null)">Details<span class="fa icon-right fa-external-link"></span></a>
                </td>
                <td>
                    <a class="text-button" href="@Url.Action("ScoreIndicatorDetails", "PmsSummary", new { id = item.Id }, null)" data-toggle="modal" data-target="#modalDialog">Details</a>
                </td>
                <td>@item.IsActive</td>
                <td>
                    <a class="text-button" href="@Url.Action("Update", "PmsSummary", new { id = item.Id }, null)" data-toggle="modal" data-target="#modalDialog"><span class="fa fa-pencil-square-o"></span>Edit</a>
                    <a class="text-button" href='javascript:;' onclick='confirmDelete(@item.Id)'><span class="fa fa-trash-o"></span>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_Modal")

@section Scripts{
    <script type="text/javascript">
        var confirmDelete = function (id, controller) {
            if (confirm('Are you sure want to delete this item?')) {
                var url = '@Url.Action("Delete", "PmsSummary")';
                $('<form action="' + url + '" method="POST">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>').submit();
            }
        };
    </script>
}


