@model DSLNG.PEAR.Web.ViewModels.PmsSummary.PmsSummaryDetailsViewModel
@{
    ViewBag.Title = "Pms Summary Configuration";
}

@Html.Partial("_MessageResponse")

<h3>@ViewBag.Title </h3>
<hr />
<h4>Pillar & Key Performance Indicator</h4>
@Html.ActionLink("Add Pillar", "Create", "PmsConfig", new { id = Model.PmsSummaryId }, new { @class = "btn btn-default btn-darkblue", data_toggle = "modal", data_target = "#modalDialog" })

<p>Total Score For All Pillar : <span id="totalScoreAllPillar"></span></p>
@{
    for (int i = 0; i < Model.PmsConfigs.Count; i++)
    {
        int i1 = i;
        <h4 style="display: inline">Pillar Name : @Model.PmsConfigs[i1].PillarName</h4>
        @Html.ActionLink("Edit Pillar", "Update", "PmsConfig", new { id = Model.PmsConfigs[i].Id}, new { @class = "btn btn-default btn-darkblue", data_toggle = "modal", data_target = "#modalDialog" })
    <a href="@Url.Action("Create", "PmsConfigDetails", new { id = Model.PmsConfigs[i1].PillarId })" class="btn btn-default btn-darkblue pull-right" data-toggle="modal" data-target="#modalDialog" style="margin-bottom: 8px;">Add Pms Config Detail</a>
    //Html.DropDownListFor(x => x.PmsConfigs[i1].PillarId, new SelectList(Model.Pillars, "Value", "Text", Model.PmsConfigs[i1].PillarId))

    <table class="table table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th rowspan="2">Kpi Name</th>
                <th rowspan="2">Measurement</th>
                <th rowspan="2">Weight</th>
                <th rowspan="2">Scoring Type</th>
                <th rowspan="2">Scoring Indicator</th>
                <th rowspan="2">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var pmsConfigDetails in Model.PmsConfigs[i1].PmsConfigDetailsList)
            {
                <tr>
                    <td>@pmsConfigDetails.KpiName</td>
                    <td>@pmsConfigDetails.KpiMeasurement</td>
                    <td>@pmsConfigDetails.Weight</td>
                    <td>@pmsConfigDetails.ScoringType</td>
                    <td>@Html.ActionLink("View Scoring Indicator", "ScoreIndicatorDetails", "PmsConfigDetails", new { id = pmsConfigDetails.Id }, new { data_toggle = "modal", data_target = "#modalDialog" })</td>
                    <td>@Html.ActionLink("Edit", "Update", "PmsConfigDetails", new { id = pmsConfigDetails.Id }, new { data_toggle = "modal", data_target = "#modalDialog" })</td>
                </tr>
            }
        </tbody>
    </table>
        
    }
}

@Html.Partial("_Modal")