@model DSLNG.PEAR.Web.ViewModels.PmsSummary.PmsSummaryDetailsViewModel
@{
    ViewBag.Title = "Pms Summary Configuration";
}

@Html.Partial("_MessageResponse")


<hgroup class="page-hgroup-header">
    <h3 class="page-title">@ViewBag.Title</h3>
    <div class="breadcrumbs-regawa">
        <ul>
            <li>Plan</li>
            <li>Performance Setting</li>
            <li>Corporate Portfolio</li>
            <li>@ViewBag.Title</li>
        </ul>
    </div>
</hgroup>

<hgroup class="page-hgroup-header">
    <h4 class="text-inline">Pilar & Key Performance Indicator</h4>
    @Html.ActionLink("Add Pillar", "Create", "PmsConfig", new { id = Model.PmsSummaryId }, new { @class = "button button-action button-tny", data_toggle = "modal", data_target = "#modalDialog" })
    <h5 class="subheader">Total Score For All Pillar : <span id="totalScoreAllPillar">@Model.TotalScoreAllPillar</span></h5>
</hgroup>
@{
    for (int i = 0; i < Model.PmsConfigs.Count; i++)
    {
        int i1 = i;
        <div class="container-box">
            <h5 class="pull-left" style="text-transform:capitalize">@Model.PmsConfigs[i1].PillarName.ToLower()</h5>
            <div class="pull-right">
                <button href="@Url.Action("Create", "PmsConfigDetails", new { id = Model.PmsConfigs[i1].Id })" class="button button-tny" data-toggle="modal" data-target="#modalDialog">
                    <span class="fa fa-plus"></span>Add PMS Config Detail
                </button>
                <button href="@Url.Action("Update", "PmsConfig", new { id = Model.PmsConfigs[i].Id })" data-toggle="modal" data-target="#modalDialog" class="button button-tny">
                    <span class="fa fa-pencil-square-o"></span>Edit Pilar
                </button>
                <button href='javascript:;' onclick='confirmDelete(@Model.PmsConfigs[i1].Id, @Model.PmsSummaryId, "PmsConfig")' class="button button-tny"><span class="fa fa-trash-o"></span>Delete</button>
            </div>            
            <table class="table-regawa">
                <thead>
                    <tr>
                        <th rowspan="2">KPI Name</th>
                        <th rowspan="2">Measurement</th>
                        <th rowspan="2">Weight</th>
                        <th rowspan="2">Scoring Type</th>
                        <th rowspan="2">Scoring Indicator</th>
                        <th rowspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var pmsConfigDetails in Model.PmsConfigs[i1].PmsConfigDetailsList)
                    {
                        <tr>
                            <td>@pmsConfigDetails.KpiName</td>
                            <td>@pmsConfigDetails.KpiMeasurement</td>
                            <td>@pmsConfigDetails.Weight</td>
                            <td>@pmsConfigDetails.ScoringType</td>
                            <td><a class="text-button" data-target="#modalDialog" data-toggle="modal" href="@Url.Action("ScoreIndicatorDetails", "PmsConfigDetails", new { id = pmsConfigDetails.Id })"><span class="fa icon-left fa-table"></span>View Scoring Indicator</a></td>
                            <td>
                                <a class="text-button" data-target="#modalDialog" data-toggle="modal" href="@Url.Action("Update", "PmsConfigDetails", new { id = pmsConfigDetails.Id })"><span class="fa icon-left fa-pencil-square-o"></span>Edit</a>
                                <a class="text-button" href='javascript:;' onclick='confirmDelete(@pmsConfigDetails.Id, @Model.PmsSummaryId, "PmsConfigDetails")'><span class="fa icon-left fa-trash-o"></span>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@Html.Partial("_Modal")

@section Scripts{
    <script type="text/javascript">
    var confirmDelete = function (id, pmsSummaryId, controller) {
        if (confirm('Are you sure want to delete this item?')) {
            var url = '@Url.Action("Delete", "PmsConfigDetails")';
                if (controller == 'PmsConfig') {
                    url = '@Url.Action("Delete", "PmsConfig")';
                }
                $('<form action="' + url + '" method="POST">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '<input type="hidden" name="pmsSummaryId" value="' + pmsSummaryId + '">' +
                    '</form>').submit();
            }
        };
    </script>
}