@model DSLNG.PEAR.Web.ViewModels.PmsSummary.PmsSummaryIndexViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    .dxgvDataRow_DSLNG td.dxgv {
        padding-left: 18px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.modal-dialog:last').removeClass('modal-sm').addClass('modal-lg');
        $('#modalDialog').on('hidden.bs.modal', function(e) {
            $(this).removeData('bs.modal');
        });
        
        $('#month, #year').change(function () {
            var year = $('#year').val();
            var month = $('#month').val();
            var url = '@Html.Raw( Url.Action("Index", "PmsSummary", new {year = "_year_", month = "_month_"}) )'.replace('_year_', year).replace('_month_', month);
            window.location = url;
        });
        $('.dxgvDataRow_DSLNG td[title]').attr('data-html', true);
        $('.dxgvDataRow_DSLNG td[title]').tooltip();
    });
    
    function OnCellClick(visibleIndex, fieldName) {
        var id = fieldName;
        var month = $('#month').val();
        var year = $('#year').val();
        $('#modalDialog').modal({
            remote: '@Url.Action("ReportDetails", "PmsSummary")' + '/' + id + '?month=' + month + '&year=' + year
        });
    }
</script>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">


                <hgroup class="page-hgroup-header">       
                    <div class="traffic-light red"></div>
                    <h4 class="page-title text-inline">Corporate Performance</h4>
                    <h6 class="description-year text-inline">@Model.Title</h6>
                </hgroup>

                <form class="form-inline form-kpi-daily">
                    <div class="form-group">
                        <label class="labletop">Year : </label>
                        @Html.DropDownListFor(x => x.Year, Model.YearList, new {@class="form-control", id="year"})
                    </div>
                    <div class="form-group">
                        <label class="labletop">Month : </label>
                        @Html.DropDownListFor(x => x.Month, Model.MonthList, new {@class="form-control", id="month"})                    
                    </div>
                </form>

            </div>

            <div class="col-sm-4">
                <div class="description">
                    <h5 class="">Remark</h5>
                    <p>@Model.Title </p>
                </div>
            </div>
            <div class="col-sm-12" style="margin-bottom: 40px;">
                @Html.Partial("_IndexGridPartial", Model)
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Modal")






