@model DSLNG.PEAR.Web.ViewModels.PmsSummary.PmsSummaryIndexViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    .dxgvDataRow_DSLNG td.dxgv {
        padding-left: 18px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.modal-dialog:last').removeClass('modal-sm').addClass('modal-lg');
        $('#modalDialog').on('hidden.bs.modal', function(e) {
            $(this).removeData('bs.modal');
        });
        
        $('#month, #year').change(function () {
            var year = $('#year').val();
            var month = $('#month').val();
            var url = '@Html.Raw( Url.Action("Index", "PmsSummary", new {year = "_year_", month = "_month_"}) )'.replace('_year_', year).replace('_month_', month);
            window.location = url;
        });
        $('.dxgvDataRow_DSLNG td[title]').attr('data-html', true);
        $('.dxgvDataRow_DSLNG td[title]').tooltip();
    });
    
    function OnCellClick(visibleIndex, fieldName) {
        var id = fieldName;
        var month = $('#month').val();
        var year = $('#year').val();
        $('#modalDialog').modal({
            remote: '@Url.Action("ReportDetails", "PmsSummary")' + '/' + id + '?month=' + month + '&year=' + year
        });
    }
</script>
<section>
    <div class="title_page">
        <div class="row">
            <div class="trafficlight red"></div>
            <div class="title">Corporate Performance</div>
            <div class="description_year">@Model.Title</div>
        </div>
        <div class="row">
            <form class="form-inline">
                <div class="form-group" style="margin-top:5px;margin-left:25px;padding-right:30px; border-right:solid 1px #3f454f;">
                    <label class="labletop">Year :</label>
                    @Html.DropDownListFor(x => x.Year, Model.YearList, new {@class="form-control", id="year"})
                </div>
                <div class="form-group" style="margin-top:5px;">
                    <label class="labletop">Month :</label>
                    @Html.DropDownListFor(x => x.Month, Model.MonthList, new {@class="form-control", id="month"})
                    
                </div>
            </form>
        </div>
    </div>
    <div class="description">
        <div class="title_small" style="font-weight: bold">Remark</div>
        <p>
            @Model.Title
        </p>
    </div>
    <div class="col-md-12" style="margin-bottom: 40px;">
        @Html.Partial("_IndexGridPartial", Model)
    </div>
</section>

@Html.Partial("_Modal")






