@model DSLNG.PEAR.Web.ViewModels.PmsSummary.PmsSummaryIndexViewModel
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#myModal').on('hidden.bs.modal', function(e) {
            $(this).removeData('bs.modal');
        });
        
        $('#month, #year').change(function () {
            var year = $('#year').val();
            var month = $('#month').val();
            var url = '@Html.Raw( Url.Action("Index", "PmsSummary", new {year = "_year_", month = "_month_"}) )'.replace('_year_', year).replace('_month_', month);
            window.location = url;
        });
    });
    
    function OnCellClick(visibleIndex, fieldName) {
        var month = $("#filter-month").val();
        $('#myModal').modal({
            remote: '@Url.Action("Details", "PmsSummary")' + '/' + fieldName + '?month=' + month
        });
    }

    
    
</script>
<section>
    <div class="title_page">
        <div class="row">
            <div class="trafficlight red"></div>
            <div class="title">Corporate Performance</div>
            <div class="description_year">1st Operation year</div>
        </div>
        <div class="row">
            <form class="form-inline">
                <div style="margin: 5px 40px 0px 25px; padding-right: 30px; border-right: solid 1px #3f454f;" class="form-group">
                    <label>Year Illustration :</label>
                    @Html.DropDownListFor(x => x.Year, Model.YearList, new {@class="form-control", id="year"})
                    @*<select class="form-control" name="year" id="year">
                        <option>2015</option>
                        <option>2014</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                    </select>*@
                </div>
                <div style="margin-top: 5px;" class="form-group">
                    <label>Month :</label>
                    @Html.DropDownListFor(x => x.Month, Model.MonthList, new {@class="form-control", id="month"})
                    
                </div>
            </form>
        </div>
    </div>
    <div class="description">
        <div class="title_small">Description</div>
        <p>
            Description
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elementum,
            sem vitae iaculis lobortis, massa eros imperdiet lacus, id porttitor odio
            ante non augue.
        </p>
    </div>
    <div class="col-md-12">
        @Html.Partial("_IndexGridPartial", Model)
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
            <div class="modal-body">
                
                    Please wait. <br/>
                    it still loading ..
                
            </div>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->






