@model DSLNG.PEAR.Services.Responses.Menu.GetSiteMenusResponse
@{
    Layout = null;
    //ViewBag.SiteMenuActive = ViewBag.SiteMenuActive == null ? "Dashboard" : ViewBag.SiteMenuActive;
}
@helper  ExtractMenu(IEnumerable<DSLNG.PEAR.Services.Responses.Menu.GetSiteMenusResponse.Menu> Menus, int SubLevelHeper=0) {
    foreach (var menu in Menus.ToList())
    {
        var url = menu.Url!=null ? menu.Url.Split('/') : null;
        var url_href = "";
        if (url!=null)
        {
            if (url.Length > 0)
            {
                if (url.Length >= 3){
                    url_href = Url.Action(url[1], url[0], new { id = url[2] });
                }
                else{
                    url_href = Url.Action(url[1], url[0]);
                }
            }
            else
            {
                url_href = Url.Action("Index", url[0]);
            }
        }
        else
        {
            url_href = "#";
        }
        //var mainclass = menu.ParentId==0 && ViewBag.SiteMenuActive==menu.Module?"active":"";
        var mainclass = menu.Id == Model.RootMenuIdActive ? "active" : Model.SelectedMenu.ParentId==menu.Id ? "active" : Model.SelectedMenu.Id==menu.Id ? "active" :"";
    <li class="@mainclass" menuid="@menu.Id" selectedmenuid="@Model.SelectedMenu.Id" selectedmenuparentid="@Model.SelectedMenu.ParentId">
        <a href="@menu.Url" class="">
            @if (menu.Icon != null){
                <i class="fa @menu.Icon"></i><span>@menu.Name</span>
            }
            else
            {
                @menu.Name
            }
        </a>

        @if (menu.Menus.Count > 0)
            {
                if (SubLevelHeper == 0){
                    ViewBag.MenuSubClass = "sub-nav";
                }
                else{
                    ViewBag.MenuSubClass = "sublevel";
                }

            <ul class="@ViewBag.MenuSubClass @SubLevelHeper.ToString()">
                @ExtractMenu(menu.Menus, menu.ParentId!=null || menu.ParentId>0 ? 1  : 0)
            </ul>
            }
    </li>
    }
}


<ul class="main-nav">
    @ExtractMenu(Model.Menus)
    @*<li class="active">
            <a href="#" class="menu_dashboard"><i class="fa fa-dashboard"></i><span>DASH BOARD</span></a>
            <ul class="sub-nav">
                <li>
                    <a href="@Url.Action("Index", "PmsSummary")">PMS Summary<span class="fa"></span></a><br />
                </li>
                <li>
                    <a href="#">Corporate Performance<span class="fa fa-angle-down"></span></a><br />
                    <ul class="sublevel">
                        <li><a href="#">Productivity & Efficiency</a></li>
                        <li><a href="#">Financial Strength</a></li>
                        <li><a href="#">Stakeholder Responsible</a></li>
                        <li><a href="#">Safety</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Directorate Performance</a><br />

                </li>
                <li>
                    <a href="#">Function Performance</a>
                    <ul>
                        <li>
                            <a href="#">QHSE</a>
                        </li>
                        <li><a href="#">HCD</a></li>
                        <li><a href="#">Procurement</a></li>
                        <li><a href="#">Maintance</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Configuration Settings <span class="fa fa-angle-down"></span></a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Artifact")">Artifact</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="#" class="menu_plan"><i class="fa fa-calendar"></i><span>PLAN</span></a>
            <ul class="sub-nav">
                <li>
                    <a href="@Url.Action("Index", "Kpi")">Business Indicator<span class="fa fa-angle-down"></span></a><br />
                    <ul class="sublevel">
                        <li><a href="@Url.Action("Index", "Pillar")">Pillar</a></li>
                        <li><a href="@Url.Action("Index", "Type")">Type</a></li>
                        <li><a href="#">Period</a></li>
                        <li><a href="#">Method</a></li>
                        <li><a href="#">Level</a></li>
                        <li><a href="@Url.Action("Index", "Measurement")">Measurement</a></li>
                        <li><a href="#">Group</a></li>
                        <li><a href="#">Activity</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Economic Model<span class="fa fa-angle-down"></span></a><br />
                    <ul class="sublevel">
                        <li><a href="#">Scenario List</a></li>
                        <li><a href="#">EM Summary</a></li>
                        <li><a href="#">Configuration</a></li>
                        <li><a href="#">Master</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Performance Setting<span class="fa fa-angle-down"></span></a><br />
                    <ul class="sublevel">
                        <li><a href="#">Scenario List</a></li>
                        <li><a href="#">EM Summary</a></li>
                        <li><a href="@Url.Action("Index", "CorporatePortofolio")">Configuration</a></li>
                        <li><a href="#">Master</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#" class="menu_execute"><i class="fa fa-gavel"></i><span>EXECUTE</span></a></li>
        <li><a href="#" class="menu_assess"><i class="fa fa-edit"></i><span>ASSESS</span></a></li>
        <li><a href="#" class="menu_report"><i class="fa fa-bar-chart-o"></i><span>REPORT</span></a></li>
        <li>
            <a href="#" class="menu_setting"><i class="fa fa-cog"></i><span>SETTING</span></a>
            <ul class="sub-nav">
                <li><a href="@Url.Action("Index", "User")">User</a></li>
                <li><a href="@Url.Action("Index", "RoleGroup")">Group</a></li>
                <li><a href="#">Configuration</a></li>
                <li><a href="#">Master</a></li>
            </ul>
        </li>*@
</ul>