@model DSLNG.PEAR.Web.ViewModels.Menu.UpdateMenuViewModel
@{
    ViewBag.Title = "Edit Menu";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_MessageResponse")
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Update")" method="POST">
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ParentId, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.ParentId, Model.MenuOptions, "Select Parent Menu", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ParentId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Order, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Order)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remark, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Remark)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Module, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Module, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Module)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                        @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RoleGroupIds, new { @class = "control-label" })
                        @Html.ListBoxFor(model => model.RoleGroupIds, Model.RoleGroupOptions,new { @class = "form-control", @size = "5" })
                        @Html.ValidationMessageFor(model => model.RoleGroupIds)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Icon, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Icon, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Icon)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Url, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Url)
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
            <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>

        </form>
    </div>
</div>
