@model DSLNG.PEAR.Web.ViewModels.ArtifactDesigner.ArtifactDesignerViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<script type="text/javascript">
    function AddSeries(s, e) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("SeriesPartial", "ArtifactDesigner")',
            //data: { employeeID: s.GetValue() },
            success: function(response) {
                $("#series").append(response);
            }
        });
    }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.DevExpress().FormLayout(settings =>
                        {
                            settings.Name = "graphicDetails";
                            settings.EncodeHtml = false;
                            var groupItem = settings.Items.AddGroupItem(itemSettings =>
                            {
                                itemSettings.Caption = "Graphic Details";
                                itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
                            });
                            groupItem.Items.Add(m => m.GraphicType, itemSettings =>
                            {
                                itemSettings.HelpText = "Please select graphic type";
                                itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;
                                ComboBoxSettings cb = (ComboBoxSettings)itemSettings.NestedExtensionSettings;
                                cb.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                cb.Properties.TextField = "Text";
                                cb.Properties.ValueField = "Value";
                                cb.Properties.ValueType = typeof(string);
                                cb.Properties.DataSource = Model.GraphicTypes;
                            });

                            groupItem.Items.Add(m => m.GraphicName).HelpText = "Please set the name for this graphic";
                            groupItem.Items.Add(m => m.HeaderTitle).HelpText = "Please set the header title";
                            groupItem.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                        }).GetHtml();
    <div id="series"></div>
    @Html.DevExpress().FormLayout(settings =>
                     {
                         settings.Name = "graphicSeries";
                         settings.EncodeHtml = false;
                         var groupItem = settings.Items.AddGroupItem(itemSettings =>
                         {
                             itemSettings.Caption = "Graphic Series";
                             itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
                             itemSettings.ColCount = 2;
                         });
                         groupItem.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                         groupItem.Items.Add(itemSettings =>
                         {
                             itemSettings.Caption = "Series Type";
                             itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;
                             ComboBoxSettings cb = (ComboBoxSettings)itemSettings.NestedExtensionSettings;
                             cb.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                             cb.Name = "seriesTypes";
                             cb.SelectedIndex = 0;
                             cb.Properties.TextField = "Text";
                             cb.Properties.ValueField = "Value";
                             cb.Properties.ValueType = typeof(string);
                             cb.Properties.DataSource = Model.SeriesTypes;
                         });
                         groupItem.Items.Add(itemSettings =>
                         {
                             itemSettings.Caption = " ";
                             itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
                             var buttonSettings = (ButtonSettings)itemSettings.NestedExtensionSettings;
                             buttonSettings.Name = "addSeries";
                             buttonSettings.Text = "Add Series";
                             buttonSettings.UseSubmitBehavior = false;
                             buttonSettings.ClientSideEvents.Click = "AddSeries";
                             buttonSettings.Width = 100;
                         });
                     }).GetHtml();
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
